/* --------------GLOBAL CSS---------------------- */

body {
  margin: 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.center {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.bold {
  font-weight: 400;
}

/* --------------------------------------------------------- */

/* -------------------LANDING PAGE-------------------------- */
.landing_bg {
  height: 100vh;
  background-image: url("https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.landing_name {
  letter-spacing: 5px;
  font-size: 4.5rem;
}
/* --------------------------------------------------------------- */

/* ---------------------HOME-------------------------------------- */
.home_welcome {
  font-size: 4em;
}

.home_name_input {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font-family: "Caveat", cursive;
  font-size: 1.5em;
}

.home_hr {
  width: 50%;
}

.active {
  border-bottom: 3px solid #ff7315;
}

.nav-link {
  transition: 0.3s;
}

.nav-link:hover {
  border-bottom: 3px solid #fff;
}

/* ----------------------------------------------------- */

/* ------------------- ABOUT --------------------------- */
.about_head h3 {
  font-size: 3.5rem;
  font-family: "Lobster", cursive;
}

.about_head h4 {
  font-size: 1.5rem;
  font-family: "Architects Daughter", cursive;
}

.about_img {
  border-radius: 50px;
}
/* ------------ SKILLS----------------------------- */
.list-group-flush li {
  background-color: transparent;
  text-align: end;
  font-size: larger;
}

/* ------------------------------------------------------- */

/* ------------------- PROJECTS--------------------------- */
.project_card {
  background-color: #aacdbe !important;
  margin-top: 60%;
}

/* ------------------------------------------------------- */
